html{
  background-color: black;
  color:white;

}

body{
  margin:0;
  padding:0;
}

.card{
  border: 1px white solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.window{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  border-radius: 5px;
  padding: 1em;
  min-width: 500px;
  min-height: 300px;
  z-index: 1;
  border: 0.5px solid rgb(2, 2, 117);
}

.window h3{
  text-align: center;
}

.window form div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin:1em;
}

.list{
  display: flex;
  flex-direction: column;
  text-align: center;
}